<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>769182683775-ne09aq9l2vpnvi6duv5ga57r0beb8q27.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.769182683775-ne09aq9l2vpnvi6duv5ga57r0beb8q27</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>769182683775-h2q3o16amubmne8hfo7muc6pgpo67043.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBxWgqeXxudhUK1XV8SqIi3UDdzhL86gGk</string>
	<key>GCM_SENDER_ID</key>
	<string>769182683775</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.OurPlantsApp</string>
	<key>PROJECT_ID</key>
	<string>our-plants</string>
	<key>STORAGE_BUCKET</key>
	<string>our-plants.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:769182683775:ios:b4cc0abe8d3ec24bd4e54a</string>
</dict>
</plist>